.header {
    position: fixed;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 rgba(122, 120, 120, 0.18);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 14px 18px;
    top: 20px;
    left: 20px;
    right: 20px;
}

.header-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.header-logo {
    background-color: #fc0;
    border-radius: 10px;
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
    font-weight: bold;
    color: #111;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-link {
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

@media (max-width: 767px) {
    .header {
        left: 10px;
        right: 10px;
        top: 10px;
    }

    .header-link span {
        display: none;
    }

    .header-menu {
        gap: 20px;
        justify-content: flex-start;
        margin: 0 0 0 30px;
        position: static;
        transform: none;
    }
}

@media (max-width: 420px) {
    .header-title {
        display: none;
    }
}

@media (max-width: 374px) {
    .header-menu {
        gap: 10px;
        margin: 0 0 0 10px;
    }
}